@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #2F3129;
}

h1 {
  color: rgb(91, 170, 0);
  font-weight: 500;
  font-family: fantasy;
  margin: 12px;
  margin-bottom: 5px;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
  1px 1px rgb(0, 0, 0),
  0px -5px 35px rgba(255,255,255,0.3);
}

h4 {
  color: rgb(255, 255, 255);
  font-weight: 200;
  font-family: fantasy;
  margin: 12px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.logo {
  margin: 10px;
  margin-left: 15px;
  float: left;
}

img.center {
    display: block;
    margin: 0 auto;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: rgb(91, 170, 0);
}

.ant-spin-dot i {
  background-color: rgb(91, 170, 0);
}

.ant-radio-button-wrapper-checked::before {
  background-color: rgb(91, 170, 0);
  opacity: 0.1;
}

.ant-radio-button-wrapper:focus,
.ant-radio-button-wrapper:hover,
.ant-pagination-item-active,
.ant-pagination-item-active:focus,
.ant-pagination-item-active:hover,
.ant-pagination-item-active a,
.ant-pagination-item-active:focus a,
.ant-pagination-item-active:hover a {
  border-color: rgb(91, 170, 0);
  color: rgb(91, 170, 0);
}


.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background: rgb(91, 170, 0);
  border-color: rgb(91, 170, 0);
}

.ant-radio-button-wrapper-checked:hover,
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
  border-color: rgb(91, 170, 0);
  border-top-color: rgb(91, 170, 0);
  border-right-color: rgb(91, 170, 0);
  border-bottom-color: rgb(91, 170, 0);
  border-left-color: rgb(91, 170, 0);
  background: rgb(91, 170, 0);
  -webkit-box-shadow: -1px 0 0 0 rgb(91, 170, 0);
  box-shadow: -1px 0 0 0 rgb(91, 170, 0);
}

.ant-radio-button-wrapper:hover, .ant-radio-button-wrapper-focused {
  color: rgb(91, 170, 0);
}

.ant-radio-button-wrapper-checked {
  border-color: rgb(91, 170, 0);
  color: rgb(91, 170, 0);
  -webkit-box-shadow: -1px 0 0 0 rgb(91, 170, 0);
  box-shadow: -1px 0 0 0 rgb(91, 170, 0);
}

.ant-table-thead > tr.ant-table-row-hover > td, .ant-table-tbody > tr.ant-table-row-hover > td, .ant-table-thead > tr:hover > td, .ant-table-tbody > tr:hover > td {
  background:  rgba(91, 170, 0, 0.295);
}

.ant-btn-primary {
  color: #fff;
  background-color: rgb(91, 170, 0);
  border-color: rgb(91, 170, 0)
}

.ant-btn:hover, .ant-btn:focus {
  color: rgb(91, 170, 0);
  background-color: #fff;
  border-color: rgb(91, 170, 0);
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
  color: #fff;
  background-color: rgb(64, 119, 2);
  border-color: rgb(64, 119, 2);
}

.ant-layout-sider-trigger{
  background: rgb(26, 26, 26);
}

.ant-menu-dark, .ant-menu-dark .ant-menu-sub {
  background-color: rgb(26, 26, 26);
}

.ant-layout-sider{
  background: #000000;
}

.ant-modal-body {
  padding: 0;
}

.ant-layout-header{
  background: #2F3129;
  padding: 0;
}

.ant-layout {
  background-color: #2F3129;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
